<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>

    <div class="header">My Messages</div>

    <div id="message-stream">
      <%
        # for each message in @messages
        # render the template below
        # filling the content from
        # the message
      %>

      <% Message.all.each do |message| %>
      <div class="message">
        <div class="to">
          <p>to: <%= message.to %></p>
        </div>
        <div class="from">
          <p>from: <%= message.from %></p>
        </div>
        <div class="content">
          <p>message: <%= message.content %></p>
        </div>
        <div class="time">
          <p>sent at: <%= message.updated_at %></p>
        </div>
      </div>
      <% end %>

    </div>
  </body>
</html>
