<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>

    <div class="header">My Messages</div>

    <div id="message-stream">
      <%
        # for each message in @messages
        # render the template below
        # filling the content from
        # the message
        @messages.each do |message|
      %>

      <div class="message">
        <!-- <a href="" class="close"></a> -->
        <div class="from">
          <p><%= message.from %></p>
        </div>
        <div class="content">
          <p><%= message.content %></p>
        </div>
        <div class="time">
          <p><%= message.time %></p>
        </div>
      </div>

      <% end %>

    </div>
  </body>
</html>
