<html>
  <head>
    <meta charset="utf-8" />
    <title>Message App</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>

    <div class="header">My Messages</div>

    <div id="message-stream"><br>
       <% @messages.each do |message| %>
        <br>From: <%= message.from %><br>
        To: <%= message.to %><br>
        Message: <%= message.content %><br>
        Time: <%= message.created_at %><br>

      <% end %> 


      <div class="message">
        <div class="to">
        </div>
        <div class="from">
        </div>
        <div class="content">
        </div>
        <div class="time">
        </div>
      </div>

    </div>
  </body>
</html>
